<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Progress</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="../static/Flat-UI/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/Flat-UI/dist/css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/Flat-UI/dist/img/favicon.ico">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #map-canvas{
        height:100%;
        width:100%;
        float:right;
      }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
      //Google Maps code for delivery
      var map;
      var myLatlng;
      var marker;
      var courier;
      var geocoder;
      '{{ deliveryObject.id }}'
      console.log('{{ deliveryObject.id }}');
      console.log('{{ backgroundInfo }}');
      var deliveryID = '{{deliveryObject.id}}';

      function initialize() {
        var lat = -25.363882;
        var lng = 131.044922;
        geocoder = new google.maps.Geocoder();

        myLatlng = new google.maps.LatLng(lat,lng);
        var mapOptions = {
          zoom: 12,
          center: new google.maps.LatLng(lat,lng)
        };
        var image = '../static/img/just_the_couch_small.png';
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        
        codeAddress('{{ backgroundInfo.pickup_address }}');
        codeAddress('{{ backgroundInfo.dropoff_address }}');
        // while(1){
        var options = {
            "backdrop" : "static"
        }
        $("#initialModal").modal(options);
        $("#initialModal > .modal-dialog").css("z-index", "1500");

        setInterval(function(){
            $.ajax({
            url: '/delivery_location',
            data: {
              id: deliveryID
            },
            error: function( data ) {
              console.log(data)
            },
            dataType: 'json',
            success: function(data) {
              console.log("successs")
              if(data){
                if(!courier){
                  addCourier(data['location']['lat'], data['location']['lng']);
                  $("#initialModal").modal('hide');
                }else{
                  setCourierLocation(data['location']['lat'], data['location']['lng']);
                }
              }
            },
            type: 'GET'
          });
        },5000)
      }

      function addCourier( lat, lng ){
        var latlng = new google.maps.LatLng(lat,lng);
        courier = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'Curbtome',
            icon:'http://google-maps-icons.googlecode.com/files/cycling.png'
        }); 
      }

      function setCourierLocation( lat, lng ){
        var latlng = new google.maps.LatLng(lat,lng);
        courier.setPosition(latlng);
      }


      function codeAddress( address ) {
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
          } else {
            alert("Geocode was not successful for the following reason: " + status);
          }
        });
      }
      //Test loop for updating the location
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
  <div class="modal fade" id="initialModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Courier en route<span class="options">.</span></h4>
            </div>
        </div>
    </div>
  </div>

    <div id="map-canvas"></div>
    <script src="../static/dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/dist/js/flat-ui.min.js"></script>

    <script src="../static/docs/assets/js/application.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/typed.js"> </script>

    <script>
        $(function(){
            $(".options").typed({
                strings: ["..", "...", "."],
                typeSpeed: 30
            });
        });
    </script>

  </body>
</html>